GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=false
AGENT_MODEL=gemini-2.5-flash
AGENT_INTERNAL_TOKEN=change-me
ADK_BASE_URL=http://127.0.0.1:8021
BACKEND_INTERNAL_URL=http://127.0.0.1:8010
DOCUMENTS_PATH=../server/Documents_Metrosense
